{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Arjun Kumar, Software Engineer + Python Developer</title>
    <link href="https://fonts.googleapis.com/css?family=Caveat|Montserrat:400,600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
  </head>
  <body>
    <main>
      <!-- ***************  ABOUT / PROFILE  **************** -->
      <header>
        <div class="content-wrap">
          <h1>Arjun Kumar</h1>
          <h2>Software Engineer + Python Developer</h2>

          <p>As a developer, I specialize in creating modular and scalable back-end architectures. As an educator, I focus on creating inclusive learning environments, instructor training and curriculum development.</p>
          <p>I’m Experienced Python developer with 02+ years of experience in software development. Seeking a challenging role in a fast-paced environment where I can utilise my technical skills to build innovative solutions. <a href="#" target="_blank">link</a>, a IT company I’m running.</p>
        </div>
      </header>

      <!-- ************ PROJECTS / PORTFOLIO  ************** -->
      <section class="projects">
        <div class="content-wrap divider">
          <h2>Featured Projects</h2>
          <p>View selected projects below. More information can be found at <a href="#">url.com</a>.</p>

          <!-- Project 1 -->
          <section class="project-item">
            <img src="{% static 'images/ai111.jpg' %}" alt="DIYguru software development">
            <h3>DIYguru software development</h3>
            <p>Developed content and instruction for various CSS and front-end and back-end focused web development courses including Python Essential Training, Getting Website Online, Design Systems & Architectures and more.</p>
            <a class="btn" href="#" target="_blank">GitHub</a>
            <a class="btn" href="#">#.com</a>
          </section>

          <!-- Project 2 -->
          <section class="project-item">
            <img src="{% static 'images/ai222.png' %}" alt="Python, Django, Flask, Data Science & Analytics Projects">
            <h3>Python, Django, Flask, Data Science & Analytics Projects</h3>
            <p>Joined the team and helped with the relaunch of the projects and site as the front & Back-end architect.</p>
            <a class="btn" href="#" target="_blank">View the case study</a>
          </section>

          <!-- Project 3 -->
          <section class="project-item">
            <img src="{% static 'images/ai333.jpeg' %}" alt="Python Projects">
            <h3>Python Projects</h3>
            <p>Python, HTML, CSS, JavaScript, bootstrapping<a href="#" target="_blank">#.com</a></p>
            <a class="btn" href="#.com" target="_blank">View the project</a>
          </section>
        </div>
      </section>

      <!-- ****************  WORK EXPERIENCE  ******************** -->
      <section class="work-experience">
        <div class="content-wrap item-details divider">
          <h2>Work Experience</h2>
          <p>See my complete work history on <a href="https://www.linkedin.com/in/arjun1102/">LinkedIn</a>.</p>

          <!-- Job 1 -->
          <section class="job-item">
            <div class="job-details">
              <h3>Software Engineer</h3>
              <p>DIYguru E-Mobility Pvt. Ltd. (diyguru.org), Delhi, India</p>
              <p>January 2022-January 2023</p>
            </div>
            <div class="job-summary">
              <p>Managed all domains, development, and IT & Support Administration -See more at  <a href="#">#.com</a>.</p>
              <ul>
                <li>Collaborated with a team of developers to design and develop a scalable web application using Python, Django, and PostgreSQL.</li>
                <li>Built RESTful APIs to enable seamless communication between the front-end and back-end systems.</li>
                <li>Developed automated test suites to ensure code quality and application stability.</li>
                <li>Improved application performance by optimising database queries and implementing caching mechanisms.</li>
                <li>Deployed the application to AWS and maintained its infrastructure.</li>
                <li>Participated in code reviews and contributed to the development of best practices for software development</li>
                <li>Collaborated with cross-functional teams to identify business requirements and implement solutions</li>
              </ul>
            </div>
          </section>

          <!-- Job 2 -->
          <section class="job-item">
            <div class="job-details">
              <h3>Software Engineer</h3>
              <p>Pushp India Ltd., Noida, India</p>
              <p>January 2021- December 2021</p>
            </div>
            <div class="job-summary">
              <p>Managed all IT Administration and consultancy</p>
              <p>Key contributions:</p>
              <ul>
                <li>Worked on developing a microservices-based application using Python, Flask, and MongoDB.</li>
                <li>Created and maintained database schemas, RESTful APIs, and background workers.</li>
                <li>Contributed to the development of a custom-built CMS to manage content for the application.</li>
                <li>Participated in code reviews, unit testing, and continuous integration.</li>
                <li>Deployed the application to Heroku and maintained its infrastructure.</li>
                <li>Participated in code reviews and contributed to the improvement of software development processes.</li>
                <li>Collaborated with team members to understand business requirements and implement solutions.</li>
              </ul>
            </div>
          </section>

          <!-- Job 3 -->
          <section class="job-item">
            <div class="job-details">
              <h3>Executive Trainee</h3>
              <p>HDFC Life, Delhi, India</p>
              <p>October 2016 - May 2017</p>
            </div>
            <div class="job-summary">
              <p>Lead the business development and operations</p>
              <p>Key contributions:</p>
              <ul>
                <li>Responsible for business development by making teams.</li>
                <li>Trainee Program with job with HDFC Life in Manipal University for 4 Months.</li>
                <li>worked as learner, sales, operations executive with Agency and Bank.</li>
              </ul>
            </div>
          </section>
        </div>
      </section>

      <!-- *************  EDUCATION & CERTIFICATIONS *********** -->
      <section class="education">
        <div class="content-wrap item-details">
          <h2>Education</h2>

          <section>
            <h3>SRM University - KT, Tamil Nadu</h3>
            <p>Bachelor of Technology (B.Tech.) 2010-14</p>
            <p>Information Technology (IT)</p>
          </section>

          <section>
            <h3>RPS Residential School - Patna, Bihar</h3>
            <p>CBSE Board Regulated (XII)</p>
            <p>2007-09</p>
          </section>

          <section>
            <h3>Prestine Children High School - Muzaffarpur, Bihar</h3>
            <p>CBSE Board Regulated (X)</p>
            <p>2005-2007</p>
          </section>

          <section>
            <h3>Modern Public School - Motihari, Bihar</h3>
            <p>CBSE Board Regulated (VIII), -2005</p>
          </section>
        </div>
      </section>

      <!-- ************  CONTACT INFO / SOCIAL MEDIA  ************ -->
      <footer>
        <div class="content-wrap">
          <h2>Let's Keep in Touch!</h2>

          <!-- Social media and contact links. Add or remove any networks. -->
          <ul class="contact-list">
            <li><a href="mailto:arjun1104@gmail.com">arjun1104@gmail.com</a></li>
            <li><a href="http://example.com" target="_blank">example.com</a></li>
            <li><a href="https://twitter.com/iarjunkumar" target="_blank">Twitter</a></li>
            <li><a href="https://www.linkedin.com/in/arjun1102/" target="_blank">LinkedIn</a></li>
          </ul>
        </div>
      </footer>
    </main>
  </body>
</html>
